.Pcontainer {
  display: flex;
  margin-top: 80px;
}
.product_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product {
  padding: 20px;
  width: 400px;
  height: 450px;
  margin: 10px;
  background: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product_innercontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image {
  object-fit: cover;
  display: flex;
  margin: auto;
}
.priceEnd {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.name {
  font-weight: 600;
  font-size: 2rem;
}
.price {
  font-size: 1.3rem;
}
.desc {
  color: #777;
  text-align: justify;
}
.product_button {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
