.Total_container {
  flex: 1;
  height: 300px;
  background-color: whitesmoke;
}
.total_innerContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
